# Ansible
*.retry

# Ansible roles
playbooks/roles/*
!playbooks/roles/user_home_permissions

# IDEs
.vscode/*
!.vscode/cSpell.json
!.vscode/extensions.json

# Local configuration
machine.yaml

# Local development
.venv

# Development
.python-version

# Python
__pycache__

# Prettier config files in any directory
!.prettierrc.yaml
