# Ansible
*.retry

# Ansible roles
playbooks/roles/*
!playbooks/roles/bash
!playbooks/roles/user_home_permissions

# IDEs
.vscode/*
!.vscode/cSpell.json
!.vscode/extensions.json

# Local configuration
machine.yaml

# Local development
.venv

# Development
.python-version

# Python
__pycache__

# Prettier config files in any directory
!.prettierrc.yaml

# Go modules
go.mod
go.sum

# Ruby
.ruby-version

# Ignore Ansible inventory files
inventory/*
inventory/group_vars/*.yml
!inventory/local
!inventory/group_vars/all.yml
!inventory/group_vars/local.yml
