# Ansible
*.retry

# Ansible roles
playbooks/roles/*
!playbooks/roles/user_home_permissions

# IDEs
.vscode/*
!.vscode/cSpell.json

# Local configuration
machine.yaml

# Local development
.venv

# Development
.python-version
