# -*- mode: yaml -*-
# vim:ts=2:sw=2:ai:si:syntax=yaml
#
# Travis CI configuration
# https://docs.travis-ci.com/
---

# Run tests against pull requests and main branches only
if: |
  type = pull_request OR \
  branch IN (master, develop)

language: generic

matrix:
  include:
    - name: "macOS 10.13 (High Sierra) with Xcode 10.1 (uninstall Homebrew)"
      os: osx
      osx_image: xcode10.1
      env: UNINSTALL_HOMEBREW=YES
    - name: "macOS 10.13 (High Sierra) with Xcode 10.1"
      os: osx
      osx_image: xcode10.1
      env: UNINSTALL_HOMEBREW=NO
    - name: "macOS 10.14 (Mojave) with Xcode 10.2.1 (uninstall Homebrew)"
      os: osx
      osx_image: xcode10.2
      env: UNINSTALL_HOMEBREW=YES
    - name: "macOS 10.14 (Mojave) with Xcode 10.2.1"
      os: osx
      osx_image: xcode10.2
      env: UNINSTALL_HOMEBREW=NO
    - name: "macOS 10.14 (Mojave) with Xcode 11.0 (uninstall Homebrew)"
      os: osx
      osx_image: xcode11
      env: UNINSTALL_HOMEBREW=YES
    - name: "macOS 10.14 (Mojave) with Xcode 11.0"
      os: osx
      osx_image: xcode11
      env: UNINSTALL_HOMEBREW=NO

before_install:

  # The default Git on macOS doesn't support protocol version 2 that's enabled
  # on Travis
  - >
    if [[ "${UNINSTALL_HOMEBREW}" == "YES" ]]; then
      git config --global protocol.version 1
    fi


  # yamllint disable rule:line-length

  # Uninstall existing Homebrew installation
  - >
    if [[ "${UNINSTALL_HOMEBREW}" == "YES" ]]; then
      ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall)" -- --force
    fi

  # yamllint enable rule:line-length

  # Update Homebrew to fix HOMEBREW_LOGS error
  - >
    if [[ "${UNINSTALL_HOMEBREW}" == "NO" ]]; then
      brew update
    fi

  # Cleanup existing NVM installation
  - unset NVM_CD_FLAGS
  - unset NVM_DIR
  - unset NVM_BIN
  - rm -rf /Users/travis/.nvm
  - rm -rf /etc/profile.d/travis-nvm.sh

script:
  # Use Travis test configuration
  - cp machine.travis.yaml machine.yaml

  # Test setup script
  - ./setup -n

  # Check syntax of the Ansible playbooks
  - ./setup -s

  # Run playbooks without installing roles
  - ./setup -q

  # Run idempotence tests
  - >
    ./setup -q \
      | grep -q 'changed=0.*failed=0' \
      && (echo 'Idempotence test: pass' && exit 0) \
      || (echo 'Idempotence test: fail' && exit 1)
