# -*- mode: yaml -*-
# vim:ts=2:sw=2:ai:si:syntax=yaml
#
# Example configuration to customise local settings
---

# Use custom Go workspace directory
# golang_path: "go"

# Default Node.js version to install (NVM aliases supported)
# nvm_default_node_version: "lts/*"

# Make Python 2.7.15 default global version in pyenv
# pyenv_global: "2.7.15"

# Do not configure pyenv shell when using existing dotfiles
# pyenv_init_shell: false

# Install pyenv from package manager
# pyenv_install_from_package_manager: true

# Google Cloud SDK version
# gcloud_version: "236.0.0"

# Install Google Cloud SDK under user home directory
# gcloud_install_path: ~/

# Do not set up Cloud SDK shell when using existing dotfiles
# gcloud_setup_shell: false

# Install Lua programming language
# lua_install: true

# Do not install Node.js programming language
# install_nodejs: false

# Do not install Python programming language
# install_python: false

# Do not install Go programming language
# install_golang: false

# Install asdf-vm
# install_asdf: true

# Install asdf plugins
# asdf_plugins:
#   - name: doctl
#     versions:
#       - "1.19.0"
#   - name: kubectl
#     versions:
#       - "1.14.2"
#   - name: helm
#     versions:
#       - "2.14.0"
#   - name: concourse
#     versions:
#       - "5.2.0"
#   - name: packer
#     versions:
#       - "1.4.1"
#   - name: minikube
#     versions:
#      - "1.1.0"
