---

- name: Check Ansible version
  hosts: all
  tags:
    - always
  tasks:
    - name: Require minimum Ansible version 2.7
      assert:
        that:
          - "ansible_version.full is version('2.7', '>=')"
        msg: "Ansible version 2.7 is required"
    - name: Ansible version 2.8.6 is broken
      assert:
        that:
          - "ansible_version.full != '2.8.6'"
        msg: "Upgrade to Ansible version 2.8.7 or newer"
